<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{tituloPagina}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">{{tituloPagina}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-label color="light">
      <h1>{{headLine}}</h1>
    </ion-label>
    <ion-list>
      <ion-item lines="none">
        <ion-card class="video-container">
          <iframe [src]="url" frameborder="0" allowfullscreen></iframe>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-button class="button" color="warning" shape="round" (click)="navegarParaGrupoFB()">
      <ion-icon name="arrow-redo-sharp"></ion-icon>  
      {{ tituloBotao }}
    </ion-button>
    
  </div>
</ion-content>

<div id="footer">
  <ion-footer>
    <ion-button class="button-clear" fill="clear" mode="ios" (click)="navegarPaginaPrivacidade()">{{ politicaPrivacidade }}</ion-button>
    <ion-button class="button-clear" fill="clear" mode="ios" (click)="navegarPaginaAvisoLegal()">{{ avisoLegal }}</ion-button>
  </ion-footer>
</div>