<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{tituloPagina}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">{{tituloPagina}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-label>
      <h1>{{headLine}}</h1>
    </ion-label>
    <ion-list>
      <ion-item lines="none">
        <ion-card class="video-container">
          <iframe [src]="url" frameborder="0" allowfullscreen></iframe>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-button color="warning" shape="round" (click)="IrParaGrupoFB()">{{ tituloBotao }}</ion-button>

  </div>
</ion-content>

<div id="footer">
  <ion-footer>
    <p>
      <ion-button fill="clear" class="ion-padding" (click)="navegarPaginaPrivacidade()">{{ politicaPrivacidade }}</ion-button>
      <ion-button fill="clear" class="ion-padding" (click)="navegarPaginaAvisoLegal()">{{ avisoLegal }}</ion-button>
    </p>
  </ion-footer>
</div>